<table>
  <thead>
    <tr>
      <th>Review Title</th>
      <th>Scope</th>
      <th>Methods</th>
      <th>Contact/Reference</th>
    </tr>
  </thead>
  <tbody>
    {% for review in site.data.reviews %}
    <tr>
      <td>{{ review.title }}</td>
      <td>{{ review.scope }}</td>
      <td>{{ review.methods }}</td>
      <td>
        {% if review.link != '#' %}
          <a href="{{ review.link }}">Link</a> / 
        {% endif %}
        {{ review.contact }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
