<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="title-container">
            <h1><a href="{{ '/' | relative_url }}">Ecosystem of Reviews for Carbon Pricing</a></h1>
        </div>
        <div class="logo-container">
            <img src="{{ '/assets/images/cmk.jpg' | relative_url }}">
            <img src="{{ '/assets/images/pik.png' | relative_url }}">
            <img src="{{ '/assets/images/ANU.jpg' | relative_url }}">
            <img src="{{ '/assets/images/tuc.png' | relative_url }}">
            <img src="{{ '/assets/images/ubc.png' | relative_url }}">
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/call-for-reviews' | relative_url }}">Call for Collaboration</a></li>
            <li><a href="{{ '/systematic-maps' | relative_url }}">Systematic Map</a></li>
            <li><a href="{{ '/pre-analysis-plan' | relative_url }}">Protocol Template</a></li>
            <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
        </ul>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>© 2025 Ecosystem of Reviews</p>
    </footer>
</body>
</html>
